/*the effects for photo 1*/
.photo1 { 
  display: inline-block;
  margin: 25px;
  border: 4px solid rgb(75, 6, 6);
  line-height: 100px;
  width: auto;
  height: auto;
  box-shadow: 5px 5px rgb(255, 60, 0), 10px 10px rgb(255, 136, 0), 15px 15px rgb(255, 196, 0);
  text-align: center;
  background-color:rgb(	100, 28, 28) ;
  }
  .photo1:hover{ /*To add a filter when mous is hovering photo1*/
    transition: 0.3s;
    filter: sepia(50%);
  }
/*the effects for photo 2*/
  .photo2 {
    display: inline-block;
    margin: 25px;
    border: 4px solid rgb(75, 6, 6);
    line-height: 100px;
    width: auto;
    height: auto;
    box-shadow: 5px 5px rgb(255, 60, 0), 10px 10px rgb(255, 136, 0), 15px 15px rgb(255, 196, 0);
    text-align: center;
    background-color:rgb(	100, 28, 28) ;
  }
  .photo2:hover{ /*To add a filter when mous is hovering photo2*/
    transition: 0.3s;
    filter: saturate(150%);
  }
/*the effects for photo 3*/
  .photo3 {
    display: inline-block;
    margin: 25px;
    border: 4px solid rgb(75, 6, 6);
    line-height: 100px;
    width: auto;
    height: auto;
    box-shadow: 5px 5px rgb(255, 60, 0), 10px 10px rgb(255, 136, 0), 15px 15px rgb(255, 196, 0);
    text-align: center;
    background-color:rgb(	100, 28, 28) ;
  }
  .photo3:hover{ /*To add a filter when mous is hovering photo3*/
    transition: 0.3s;
    filter: invert(80%);
  }
  /*to change the body elements*/
  body {
    background-color: rgb(151, 51, 51);
    margin: 100px auto;
    width: max-content;
  }
  /*to change the h1 tag*/
  h1{
    background-color: rgb(127, 3, 3);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    font: Georgia;
}

